.layout {
  overflow: hidden;
  width: 100%;
}
.header {
  text-align: center;
  color: #000;
  height: 64px;
  padding-inline: 48px;
  line-height: 64px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.content {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 5%;
  color: #fff;
  min-height: calc(100vh - 64px);
}
